nav {
    display: flex;
    width: auto;
    align-items: center;
    justify-content: space-between;
    background: #0f5298;
    border-radius: 10px;
    padding: 20px 80px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.6);
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navhome {
    padding: 0 30px;
}

.navbasket {
    padding: 0 30px;
}

.sign-in,
.sign-up {
    padding: 10px 20px;
    margin-left: 15px;
    background-color: #124473;
    border: none;
    border-radius: 4px;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.logout button {
    padding: 10px 20px;
    margin-left: 15px;
    background-color: #124473;
    border: none;
    border-radius: 4px;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.logout button:hover {
    background-color: #0f6ea8;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.logout span {
    color: #fff;
    font-weight: bolder;
    font-size: small;
    text-decoration: none;
}

.sign-in a,
.sign-up a {
    color: white;
    text-decoration: none;
}


.sign-in:hover,
.sign-up:hover {
    background-color: #0f6ea8;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.navbasket {
    position: relative;
}
  
.basket-count {
    position: absolute;
    top: -2px;
    right: 16px;
    background-color: red;
    color: white;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    text-align: center;
    font-size: 12px;
    line-height: 20px;
}
